@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300;400&family=Montserrat:ital@0;1&family=Poppins&family=Raleway&family=Roboto&family=Sacramento&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.App {
    text-align: center;
}
